<% provide :title, @book.title %>

<div class="row row-button col-md-offset-9">
  <%= link_to t("book.show.delete"), admin_category_book_path(@category, @book), method: :delete,
    class: "btn btn-default", data: {confirm: t("book.show.confirm")} %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 book_image">
      <div class="row">
        <% if @book.cover? %>
          <%= image_tag @book.cover.url, class: "center-block" %>
        <% else %>
          <%= link_to image_tag("coverdefault.jpg", class: "center-block"), @book %>
        <% end %>
        <div class="col-md-offset-4">
          <%= t "admin.book.number_page" %>
          <%= @book.number_of_page %>
        </div>
        <div class="img-star col-md-offset-2">
          <strong>
            <%= t "review.controller.rate" %>
            <% (Settings.one..@book.avg_rates).each do %>
              <%= image_tag Settings.url_star_full,
                alt: t("review.controller.alt_logo") %>
            <% end %>
            <% if @book.avg_rates < Settings.max_rate %>
              <% (Settings.one..(Settings.max_rate - @book.avg_rates)).each do %>
                <%= image_tag Settings.url_star_empty,
                  alt: t("review.controller.alt_logo") %>
              <% end %>
            <% end %>
          </strong>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
    <div class="col-md-8">
      <h2>
        <div class="row">
          <%= @book.title %>
        </div>
      </h2>
      <div class="row">
        <label><%= t "book.show.author" %></label>
        <%= @book.author %>
      </div>
      <div class="row">
        <label><%= t "book.show.description" %></label>
        <%= @book.description %>
      </div>
    </div>
  </div>
</div>
