<%= provide :title, t("views.requests.index.dashboard") %>

<h1><%= t "views.requests.index.dashboard" %></h1>

<table class="table table-hover">
  <tr>
    <th><%= t "views.requests.index.id" %></th>
    <th><%= t "views.requests.index.book_title" %></th>
    <th><%= t "views.requests.index.book_author" %></th>
    <th><%= t "views.requests.index.content" %></th>
  </tr>
  <% @requests.each do |request| %>
    <tr>
      <td> <%= request.id %> </td>
      <td> <%= request.book_name %> </td>
      <td> <%= request.author %> </td>
      <td> <%= request.content %> </td>
      <td>
        <span>
          <%= link_to t("views.requests.index.cancel_button"), request_path(request),
            method: :delete, data: {confirm: t("views.requests.index.delete_confirm")},
            class:"btn btn-danger" %>
        </span>
      </td>
    </tr>
  <% end %>
</table>
<div>
  <%= link_to t("views.requests.index.new_button"), new_request_path,
  class: "btn btn-info" %>
</div>
<%= will_paginate @requests %>
