<%= provide :title, t("views.requests.new.title") %>

<h1><%= t "views.requests.new.title" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @request do |f| %>
      <%= render "shared/error_messages", object: @request %>

      <%= f.label :book_name %>
      <%= f.text_field :book_name, class: "form-control" %>

      <%= f.label :author %>
      <%= f.text_field :author, class: "form-control" %>

      <%= f.label :content %>
      <%= f.text_area :content, class: "form-control" %>

      <%= f.label :publish_date %>
      <%= f.date_field :publish_date, class: "form-control" %>

      <%= f.submit t("views.requests.new.create_button"), 
        class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
