<%= provide :title, t("views.admin.requests.index.title") %>

<h1><%= t "views.admin.requests.index.title" %></h1>

<table class="table table-hover">
  <tr>
    <th><%= t "views.requests.index.id" %></th>
    <th><%= t "views.requests.index.book_title" %></th>
    <th><%= t "views.requests.index.book_author" %></th>
    <th><%= t "views.requests.index.content" %></th>
    <th><%= t "admin.book.publish_date" %></th>
    <th><%= t "views.requests.index.status" %></th>
    <th><%= t "admin.book.action" %></th>
  </tr>
  <% @requests.each do |request| %>
    <tr>
      <td><%= request.id %></td>
      <td><%= request.book_name %></td>
      <td><%= request.author %></td>
      <td><%= request.content %></td>
      <td><%= request.publish_date %></td>
      <td><%= link_to request.status, edit_admin_request_path(request) %></td>
      <td>
        <span>
          <%= link_to t("views.admin.requests.index.delete_button"),
            admin_request_path(request), method: :delete,
            data: {confirm: t("views.admin.requests.index.delete_confirm")},
            class:"btn btn-danger" %>
        </span>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate @requests %>
